/* @media (prefers-color-scheme: dark) {
  a {
    --ion-color-primary: #3b82f6;
  }
  ion-tab-button.home.tab-selected,
ion-tab-button.home.tab-selected:hover {
  color: #FFA101;
}
ion-tab-button.home{
  color: #ffffff;
}
.drop{
  background-color: #000000;
}

} */
.primary-color {
  color: #FFA101;
}

ion-tab-button.home {
  color: #BAB9BD;
  font-family: "Inter-Regular";
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  letter-spacing: 0.1px;
}

ion-tab-button.home.tab-selected,
ion-tab-button.home.tab-selected:hover {
  color: #FFA101;
}

ion-tab-button.matrix.tab-selected,
ion-tab-button.matrix.tab-selected:hover {
  color: #FFA101;
}

ion-tab-button.stopwatch.tab-selected,
ion-tab-button.stopwatch.tab-selected:hover {
  color: #FFA101;
}

ion-tab-button.user.tab-selected,
ion-tab-button.user.tab-selected:hover {
  color: #FFA101;
}

.red.alert-button.sc-ion-alert-ios {
  color: var(--ion-color-danger);
}

.blue.alert-button.sc-ion-alert-ios {
  color: #3b82f6;
}

.alert-button.ion-focused.sc-ion-alert-ios,
.alert-button.ion-activated.sc-ion-alert-ios {
  background-color: transparent;
}

ion-alert.sc-ion-alert-ios-h.sc-ion-alert-ios-s {
  backdrop-filter: blur(0.25rem);
}

.toast {
  --border-color: var(--ion-color-danger);
  --border-radius: 1rem;
  --border-style: solid;
  --border-width: 1px;
}

/* Scoped components require higher specificity to customize */
ion-searchbar.custom-searchbar {
  --background: #19422d;
  --color: #fff;
  --placeholder-color: #99969E;
  --icon-color: #fff !important;
  --clear-button-color: #fff;
  border: 1px solid #DEDEE0;
  height: 45px;
  --border-radius: 4px;
  --ion-color-dark: none;
  --ion-color-dark-rgb: 244, 245, 248;
  --ion-color-dark-contrast: #868080;
  --ion-color-dark-contrast-rgb: 0, 0, 0;
  --ion-color-dark-shade: #d7d8da;
  --ion-color-dark-tint: #f5f6f9;
  font-family: "Inter-Regular";
  font-weight: 400;
  font-size: 16px;
  --box-shadow: none;
}

ion-searchbar.ios.custom-searchbar {
  --cancel-button-color: #19422d;
}

ion-searchbar.md.custom-searchbar {
  --cancel-button-color: #fff;
}


.category-button {
  border: 1px solid #FFA101;
  height: 42px;
  border-radius: 20px;
  padding: 9px 20px;
  margin: 5px;
  width: auto;
  word-wrap: normal;
  font-size: 14px;
  color: #99969E;
  font-family: "Inter-Regular";
}

.category-button:hover {
  color: white;
  background-color: #FFA101;
}

.category-selected {
  color: white;
  background-color: #FFA101;
}

.category-button-div::-webkit-scrollbar {
  display: none;
  overflow-x: scroll;

  /* for Chrome, Safari, and Opera */
}

.featured-item::-webkit-scrollbar {
  display: none;
  overflow-x: scroll;

  /* for Chrome, Safari, and Opera */
}

.category-button-div {
  overflow-x: scroll;
  width: 100%;
  /* for Chrome, Safari, and Opera */
}

.card {
  border: 1px solid #DEDEDE;
  box-shadow: none;
  border-radius: 10px;
}

.store-overflow {
  width: 150px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.shop {
  height: 66vh;
  overflow: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.store {
  height: 67vh;
  overflow: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.featured-item {
  width: 90vw;
  height: 200px;
  overflow-x: scroll;
  /* white-space:nowrap;  */
  text-overflow: ellipsis;
}

.all-items {
  height: 63vh;
  overflow: scroll;
  text-overflow: ellipsis;
}

.all-item {
  height: 60vh;
  overflow: scroll;
  text-overflow: ellipsis;
}


.all-item-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.swiper {
  width: 100%;
  height: 280px;
  --swiper-theme-color: #ffffff;

}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgb(118, 75, 75);
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  margin-left: 110px;
  width: 100%;

}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 6px !important;
  border-radius: 40% !important;
}

.featured-item-top-right {
  position: relative;
  bottom: 128px;
  width: 75px;
  left: 10px;
  background-color: rgba(31, 27, 27, 0.5);
  color: #ffffff;
  border-radius: 10px;
  padding: 0px 7px;
  font-size: 10px;
  font-weight: 400;
  font-family: "Inter-Regular";
}

.featured-item-bottom-right {
  position: relative;
  bottom: 54px;
  width: 28px;
  height: 28px;
  left: 107px;
  background-color: rgb(255, 255, 255);
  color: #ffffff;
  border-radius: 50%;
  padding: 5px 6px;
}

.featured-item-overflow {
  width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item-card {
  border: none;
  box-shadow: none;
  border-radius: 10px;
}

.item-bottom-right {
  position: relative;
  bottom: 31px;
  width: 28px;
  height: 28px;
  left: 73px;
  background-color: rgb(255, 255, 255);
  color: #ffffff;
  border-radius: 50%;
  padding: 5px 6px;
}

.selected-store-top {
  position: absolute;
  top: 60.5px;
  color: #ffffff;
  width: 100%;
}

.orders {
  height: 54vh;
  overflow: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.orders-all {
  height: 80vh;
  overflow: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;

}

.orders-past {
  height: 80vh;
  overflow: scroll;
  white-space: nowrap;
  text-overflow: ellipsis;
  opacity: 0.5
}

ion-input.credit {
  --color: rgb(0, 0, 0);
  --placeholder-color: #ddd;
  --placeholder-opacity: .8;
  --background: transparent;
  border: none;
  --padding-start: 18px;
}

.credits {
  border: 1px solid #DEDEE0;
  border-radius: 28px;
  background: #FBFBFB;
  height: 54px;

}

.profile-avatar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
}

.profiles {
  /* border: 1px solid #DEDEE0; */
  border-radius: 28px;
  background: #FBFBFB;
  height: 48px;

}

ion-input.profile {
  --color: rgb(0, 0, 0);
  --placeholder-color: #ddd;
  --placeholder-opacity: .8;
  --background: transparent;
  border: none;
  --padding-start: 18px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter-Regular";
}

ion-select.profile {
  --color: rgb(0, 0, 0);
  --placeholder-color: #ddd;
  --placeholder-opacity: .8;
  --background: transparent;
  border: none;
  --padding-start: 18px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Inter-Regular";
}

.profile-item {
  height: 100vh;
  overflow-y: scroll;
  text-overflow: ellipsis;
}

.box {
  box-shadow: rgba(244, 241, 241, 0.25) 0px 30px 60px -12px inset, rgba(233, 228, 228, 0.3) 0px 18px 36px -18px inset;
}

.no {
  border: 0.1px solid #eaeaea;
}

.redeem {
  border: 1px solid #FFA101;
}

.view-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
}