@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Comfortaa";
  font-display: swap;
  unicode-range: U+20-7F;
  src: local(""), url("../fonts/Comfortaa.woff2") format("woff2"),
    url("../fonts/Comfortaa.woff") format("woff"),
    url("../fonts/Comfortaa.ttf") format("truetype");
}

@font-face {
  font-family: 'Inter-Black';
  src: local('Inter'), url(../src/assets/fonts/Inter-Black.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}


@font-face {
  font-family: 'Inter-Regular';
  src: local('Inter'), url(../src/assets/fonts/Inter-VariableFont_slnt,wght.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}